html {
    background-color:#30c9e8;
}

.header-class {
    background-color: #f7f8fa;
    height: 60px;
}

body {
    width: 75%;
   margin: 0 auto; 
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   background-color: white;
}

#cute_burger {
    padding-top: 20px;
    display: block;
    margin: auto;
}

h1 {
    text-align: center;
    font-family: 'Josefin Slab', serif;
    font-size: 65px;
    margin: 50px;
    color: #3b4a4d;
}

.burgerAvailable {
    font-family: 'Josefin Slab', serif;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    color: #3b4a4d;
    border-radius: 15px;
    width: 100%;
    margin: 10px;
    padding: 10px;
    background-color: #f7f8fa;
    border: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.burgerAvailable:hover {
    background-color: #f7f8fa;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    cursor: url("../img/burgericon2.png"), auto;
}

.burgerEaten {
    font-family: 'Josefin Slab', serif;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    color: #3b4a4d;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    background-color: #f7f8fa;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}



h2 {
     text-align: center;
    font-family: 'Josefin Slab', serif;
    color: #3b4a4d;
    font-size: 40px;
    margin: 50px;
}

.formContainer {
    background-color: #30c9e8;
}

.addBurgerButton {
    font-family: 'Josefin Slab', serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: black;
    border-radius: 15px;
    width: 100%;
    margin: 0;
    padding: 10px;
    background-color:#ff4431;
    border: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

.addBurgerButton:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    cursor: url("../img/burgericon2.png"), auto;
}

.addBurgerButton:active {
   background-color:#ff4431;
}

.burgerFooter {
   background-color: #f7f8fa;
   padding: 20px 0;
   color: #3b4a4d;
}
.container {
    z-index: 100;
    color: #3b4a4d;
}